@model YelCreative.Models.SkillViewModel

<!-- Start Modal -->
<div class="modal inmodal fade" id="AddNewSkill" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Add New Service</h4>
                <small class="font-bold">Make your service company.</small>
            </div>
            <form id="FormSkill">
                <div class="modal-body">
                    <!-- start form -->
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Skill Name</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Skill_Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Skill_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Value</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Skill_Value, new { @class = "form-control", @type="number"})
                            @Html.ValidationMessageFor(model => model.Skill_Value, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- end form -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnAddSkill" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>