@model YelCreative.Models.ProfileViewModel

<div class="col-md-4">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Profile Detail</h5>
        </div>
        <div>
            <div class="ibox-content no-padding border-left-right text-center">
                <img alt="image" class=" img-fluid p-3" src="@Model.Image_Path" style="object-fit:cover; object-position:center; width:auto; height: 250px;">
            </div>
            <div class="ibox-content profile-content">
                <h4 class="text-center"><strong>@Model.Full_Name</strong></h4>
                <h5 class="text-center">@Model.Role_Name</h5>
                <p class="text-center"><i class="fa fa-envelope"></i> @Model.Email</p>
            </div>
        </div>
    </div>
</div>