@model YelCreative.Models.ContactViewModel

@{
    ViewBag.Title = "Contact Us";
    ViewBag.ContactActive = "active";
}

<!-- start of content -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Contact Us</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Dashboards">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Contact Us</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @Html.Partial("CardContact")
        @Html.Partial("CardSocial")
    </div>
</div>
<!-- end of content -->
<!-- start of footer -->
<div class="footer">
    <div>
        <strong>Copyright</strong> YelCreative &copy; 2020
    </div>
</div>
<!-- end of footer -->

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>

@section Scripts{
    <script type="text/javascript">

        if (location.href.includes('?')) {
            history.pushState({}, null, location.href.split('?')[0]);
        }

        //Contact Information
        $(document).ready(function () {
            $("#btnSubmitContact").click(function () {
                var data = $("#FormContact").serialize();

                if(!$("#FormContact").valid()){
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/Contact/UpdateContact",
                    data: data,
                    success: function (response) {
                        if(response == true){
                            windows.location.href = "/Contact/Index";
                        }
                    }
                });
            });
        });

        //Social Media
        $(document).ready(function () {
            $("#btnSubmitSocial").click(function () {
                var data = $("#FormSocialMedia").serialize();

                if (!$("#FormSocialMedia").valid()) {
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/Contact/UpdateSocial",
                    data: data,
                    success: function (response) {
                        if (response == true) {
                            windows.location.href = "/Contact/Index";
                        }
                    }
                });
            });
        });

    </script>
}


